.custom-size{
  max-width: 1920px; 
  margin: 0 auto;
}

.admin-actions{
      display: flex;
    align-items: center;
    width: auto;

}

.logo{
  font-size: 1.75rem;
  white-space: nowrap;
  text-decoration: none;
}

  // TODO shift button to right
  layout-header nav{
    justify-content: space-between !important
  }

    .sidebar-toggle {
      padding-right: 1vw;
      text-decoration: none;
      nb-icon {
        font-size: 1.75rem;
      }
    }