<div class="row" [ngClass]="{'disableDiv': this.loading, 'activeDiv':!this.loading}" *ngIf="couponForm">
    <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 m-auto">
        <nb-card>
            <nb-card-header>Edit Coupon</nb-card-header>
            <nb-card-body class="coupon-form-col">
                <form [formGroup]="couponForm" (ngSubmit)="onSubmit(couponForm)">
                    <div class=" form-container">
                        <div class="form-group">
                            <label>New Coupon</label>
                            <input type="text" nbInput fullWidth status="primary" formControlName="coupon" required
                                placeholder="SUMMERISHERE" [readonly]="this.notEditable"
                                oninput="this.value = this.value.toUpperCase(); ">
                            <mat-error *ngIf="this.couponForm['controls']
  .coupon.hasError('existCoupon')">
                                *this coupon already exists
                            </mat-error>
                        </div>

                        <div class="form-group">
                            <label>Discount</label>
                            <input type="number" formControlName="discount" required placeholder="discount" nbInput
                                fullWidth status="primary" placeholder="0.8">
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label>From</label>
                                <input type="date" formControlName="from" required placeholder="from" nbInput fullWidth
                                    status="primary" placeholder="Primary">
                            </div>
                            <div class="form-group col-6">
                                <label>To</label>
                                <input type="date" formControlName="to" required placeholder="to" nbInput fullWidth
                                    status="primary" placeholder="Primary">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Amount</label>
                            <input type="number" formControlName="amount" required placeholder="amount" nbInput
                                fullWidth status="primary" placeholder="199">
                        </div>

                        <div class="form-group">
                            <label>Free Shipping</label>
                            <nb-radio-group formControlName="freeShipping">
                                <!-- <div class="row m-auto"> -->
                                <nb-radio class="col-6" *ngFor="let option of options" [checked]="option.checked"
                                    [disabled]="option.disabled" [value]="option.value">
                                    {{ option.label }}
                                </nb-radio>
                                <!-- </div> -->
                            </nb-radio-group>
                        </div>

                        <div class="form-group">
                            <label>Minimum Spend</label>
                            <input type="number" formControlName="minimumSpend" required placeholder="Minimum Spend"
                                nbInput fullWidth status="primary" placeholder="200">
                        </div>
                        <div>
                            <button nbButton hero status="success" type="submit"
                                [disabled]="!couponForm.valid">Add</button>
                            <button class="float-right" nbButton hero status="warning" type="button"
                                (click)="this.dismiss()">Cancel</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>