<nb-card>
    <nb-card-header>Edit Product</nb-card-header>
    <nb-card-body class="product-form-col">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
            <div class="form-container">
                <!-- product name; sku; product id -->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" formControlName="productName" required placeholder="Product Name" nbInput
                                fullWidth status="primary">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>SKU</label>
                            <input type="text" nbInput fullWidth status="primary" formControlName="SKU" required
                                placeholder="SKU" [readonly]="this.notEditable">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="number" nbInput fullWidth status="primary" formControlName="productId" required
                                placeholder="Product ID">
                        </div>
                    </div>
                </div>
                <!-- end product name; sku; product id -->




                <!-- product price; product quantity; ratings -->
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" nbInput fullWidth status="primary" formControlName="productPrice"
                                required placeholder="Product Price">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" nbInput fullWidth status="primary" formControlName="productQuantity"
                                required placeholder="Product Quantity">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Ratings</label>
                            <input type="number" nbInput fullWidth status="primary" formControlName="ratings" required
                                placeholder="Ratings">
                        </div>
                    </div>
                </div>





                <div class="form-group">
                    <label>Seller</label>
                    <input type="text" nbInput fullWidth status="primary" formControlName="productSeller"
                        placeholder="Product Seller" value="NA">
                </div>
                <!-- end product price; product quantity; ratings -->

                <!-- Product Description;Product Summary  -->
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea nbInput fullWidth formControlName="productDescription" required
                                placeholder="Product Description"></textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Summary</label>
                            <textarea nbInput fullWidth formControlName="productSummary"
                                placeholder="Product Summary"></textarea>
                        </div>
                    </div>
                </div>
                <!-- end Product Description;Product Summary  -->

                <div class="form-group">
                    <div formArrayName="productImageUrls">
                        <div class="row">
                            <div class="col-10">
                                <div *ngFor="let url of getProductImageUrls.controls; let urlIndex = index"
                                    [formGroupName]="urlIndex">
                                    <label>Image Url</label>
                                    <input type="text" nbInput fullWidth status="primary" formControlName="url"
                                        placeholder="Product Image Url" value="NA">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="d-flex justify-content-center add-button">
                                    <button nbButton type="button" status="warning" (click)="addUrl()">
                                        <nb-icon icon="plus-circle-outline"></nb-icon>
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!--    <p>-->
                <!--      {{ productForm.value | json }}-->
                <!--    </p>-->
                <button type="submit" [disabled]="!productForm.valid">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
{{productForm.value | json}}