<div class="row ">
    <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 m-auto">
        <nb-card>
            <nb-card-header>Grant Permission for a New Admin</nb-card-header>
            <nb-card-body>
                <form [formGroup]="grantPermissionForm">
                    <div class="form-group">
                        <label for="target-email" class="label">Email address</label>
                        <input formControlName="adminEmail1" name="admin-email-1" id="target-email" type="email" nbInput
                            fullWidth status="warning" placeholder="@">
                    </div>
                    <div class="form-group">
                        <label for="re-target-email" class="label">Re-Enter Email above</label>
                        <input formControlName="adminEmail2" name="admin-email-2" id="re-target-email" type="email"
                            nbInput fullWidth status="danger" placeholder="@">
                        <mat-error *ngIf="!this.grantPermissionForm.valid">
                            Two Emails have to be <strong>IDENTICAL</strong> and in <strong>RIGHT FORMAT</strong>
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <nb-checkbox status="danger" [disabled]="!this.grantPermissionForm.valid"
                            (click)="this.userAgree()">I know what I am doing</nb-checkbox>
                    </div>
                    <button [disabled]="!this.grantPermissionForm.valid" (click)="this.proceedGrantPermission()"
                        nbButton hero status="danger">Grant</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>